<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
    .jumbotron 
    {
    background-color:#007880;
    color:turquoise;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-image: url("/images/image8.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    }
    .navbar
    {
      background-color:#005995;
    }
    .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #007880;
   color: white;
   text-align: center;
}
 h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
table{
    font-family:'Calibri';
    font-size:15px;
    background-color:#fff;
    color:#333;
}
.modal-header{
    background-color:#333;
    color:#fff;
}
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
  </style>

</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1 style="color:white;">Exam Seating Arrangement System</h1> 
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/userhome">Home</a></li>
        <li><a href="/examPlan">Add My Plan</a></li>
        <li><a href="/ExamRoomDetails">Add Room Details</a></li>
        <li><a href="/StudentDetails">Add Student Details</a></li>
        <li><a href="/assignallocation">Assign Allocation </a></li>
        <!-- <li><a href="/viewallocation">View Allocation </a></li> -->
        <li><a href="/updateprofile">update profile</a></li>
        <li><div class="dropdown">
            <button style="margin-top:8px;"class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">View Plan Details
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/viewexam">View Exam Details</a></li>
              <li><a href="/viewroom">View Rooms Details</a></li>
              <!-- <li><a href="/students">View students Details</a></li> -->
            </ul>
          </div> 
         </li>
        <li><a href="/logout" >
          <span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="modal-dialog">
          <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><%= title %></h4>
          </div>
                <!-- <h2><%= title %></h2> -->
                    <form action="/roomedit/<%= data.rid %>" method="post">
                        <div class="form-group">
                          <label for="f"><b>Floor :</b></label>
                          <input id="f1" type="text" class="form-control" name="floor" value="<%= data.floor %>" placeholder="Exam Name">
                        </div>
                        <div class="form-group">
                            <label for="r"><b>Room Name :</b></label>
                         <input id="f2" type="text" class="form-control" name="roomname" value="<%= data.roomname %>" placeholder="Date">
                        </div>
                        <div class="form-group">
                            <label for="ro"><b>Row :</b></label>
                        <input id="f3" type="text" class="form-control" name="row"  value="<%= data.row %>" placeholder="Time">
                        </div>
                        <div class="form-group">
                            <label for="l"><b>length :</b></label>
                        <input id="f4" type="text" class="form-control" name="length" value="<%= data.length %>" placeholder="collage name">
                        </div>
                       
                        <div class="form-group">
                            <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-ok-sign"></span>Update</button>
                        </div>
                    </form>
    </div>
    </div>
    </div>
  </div>
</div>
<br><br><br>

<div class="footer">
    <p>@MCA MNNIT ALLAHABAD</p>
</div>
</body>
</html>
